USE [master]
GO
/****** Object:  Database [Snake2Player]    Script Date: 24/11/2023 9:17:44 SA ******/
CREATE DATABASE [Snake2Player]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Snake2Player', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Snake2Player.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Snake2Player_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Snake2Player_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Snake2Player].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Snake2Player]
GO
/****** Object:  Table [dbo].[Ran]    Script Date: 24/11/2023 9:17:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ran](
	[Name] [char](4) NULL,
	[Value] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
